.card {
	background-color: var(--color-white);
	height: 41em;
	border-radius: 0.2em;
	overflow: hidden;
	cursor: pointer;
	border-bottom: 0.1px solid rgba(000, 000, 000, 0.3);
	font-size: 13px;
	width: 98%;
}
.card-image {
	border-radius: inherit;
	height: 27em;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.description {
	opacity: 0;
	color: var(--color-white);
	font-size: 30px;
	height: 100%;
	transition: all 0.3s ease-in-out;
	padding: 1em;
}
.description.active {
	opacity: 1;
	background-color: rgba(1, 178, 238, 0.8);
	transition: all 0.3s ease-in-out;
}
.card-badge {
	position: absolute;
	bottom: 0;
	left: 0;
}
.favorite {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	font-size: 1.3em;
	padding: 0.3em;
	border-radius: 50%;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	border: 1px solid var(--color-white);
}
.card h2 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.bought {
	line-height: 5em;
	font-size: 18px;
}
.line-throw {
	text-decoration: line-through;
}

/* plain card */
.plain-card {
	width: 95%;
	background-color: red;
	background-color: var(--color-white);
	border-radius: 0.3em;
	overflow: hidden;
	border-bottom: 0.1px solid rgba(000, 000, 000, 0.3);
	font-size: 11px;
}
@media (min-width: 768px) {
	.card {
		width: 30em;
		margin: 0.5em;
		height: 38em;
		font-size: 18px;
	}
	.card-image {
		height: 65%;
	}
	.plain-card {
		font-size: 16px;
		width: 80%;
	}
}
