.footer{
    background-color: var(--color-white);
    border-top: 0.1px solid rgba(000, 000, 000, 0.1);
    padding-bottom: 5em;
}
.footer-item{
    margin-right: 8em;
    font-size: 20px;
    margin-top: 3em;
}

.follow-us a{
   font-size: 20px;
   width: 2em;
   height: 2em;
   text-align: center;
   line-height: 2em;
   margin-right: 0.5em;
   border-radius: 50%;
   color:var(--color-white);
}
.footer-info{
    flex-direction: column;
}
@media (min-width: 768px) {
    .footer{

    padding-bottom: 0;
}
.footer-info{
    flex-direction: row;
}
.follow-us{
    margin-top: 4em;
    margin-right: 8em;
}
}