.search {
	width: 30em;
}
.search-input {
	height: 3em;
	width: 100%;
	border: 2px solid rgba(000, 000, 000, 0.1);
	border-radius: 0.3em;
}
.search-input input {
	width: 100%;
	border: none;
	outline: none;
	margin-left: 0.5em;
	font-size: 20px;
}
.search-input .icon {
	margin-left: 0.5em;
	font-size: 25px;
}
